@{
    ViewData["Title"] = "Panel de administraci칩n";
}
<h1>Panel de administraci칩n</h1>
<p>Desde ac치 vas a poder gestionar cursos, inscripciones y eventos.</p>

//Solo visible para el administrador. M치s adelante vamos a agregar controles especiales, formularios y validaciones.